body {
  font-family: "Poppins", sans-serif;
  background-image: url(img/nature-weather.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  padding: 30px 20px 0 10px;
  font-size: 28px;
}

h2 {
  padding: 0 20px 20px 10px;
  font-size: 20px;
}

p {
  text-align: center;
}

footer {
  padding-top: 80px;
  text-align: center;
}

.container {
  height: 800px;
  width: 600px;
  position: relative;
  border: 3px solid gray;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}

.form {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.form-control {
  font-size: 10px;
}

.current-temp {
  font-size: 86px;
  padding-top: 170px;
  text-align: center;
  font-weight: normal;
}

.week-forecast {
  padding-top: 50px;
  padding-left: 30px;
  font-size: 14px;
  text-align: center;
}

.weather-icon-main {
  display: block;
  padding-left: 50px;
  padding-top: 10px;
}

.details {
  padding-top: 20px;
  text-align: center;
}

#description {
  font-weight: bold;
}

#current-temp-cel {
  font-size: 30px;
  color: grey;
  text-decoration: none;
}

#current-temp-cels:hover {
  font-weight: bold;
}

.divider {
  font-size: 30px;
  color: gray;
}
#current-temp-far {
  font-size: 30px;
  color: gray;
  text-decoration: none;
}

#current-temp-far:hover {
  font-weight: bold;
}
